.todoContainer{
    display: flex;
    align-items: center;
    padding-left: 15px;
    position: relative;
}

.todoContainer::before{
    content: '';
    position: absolute;
    bottom: 42%;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}

.todoTable{
    width: 439px;
}